.nav-bar-logo {
	margin-top: -15px;
  width: 80px;
  margin-left: 40px;
  
}

.non-margin {
	margin: 0px
}

#signup-btn {
	.btn.btn-primary {
			color: #fff;
	}
	.btn.btn-primary:hover {
		background-color: #eb081c;
	}
}
.btn-1 {
	padding-left: 15px;
}
.btn-2 {
	padding-left: 10px;
}
.nav-name a:hover {
	color: #eb081c !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}